.midia {
    padding-top: 100px;
    padding-left: 24px;
    padding-right: 18px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, minmax(auto, 165px));
    grid-auto-flow: dense;
}

.img-midia {
    margin: 20px 0;
    max-width: 165px;
    filter: grayscale(100%);
}

.img-midia:hover {
    filter: none;
}

