.nav-menu {
    font-size: 14px;
    text-transform: lowercase;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 50px;
    padding: 5px 0;
    cursor: pointer;
    margin-top: 24px;
    margin-left: auto;
    margin-right: 5%;
}
