.header {
    padding-top: 24px;
}

.container-gallery-home {
    display: flex;
    justify-content: space-around;
    width: 98%;
    margin: 64px auto;
}

.last-image-home {
    margin-bottom: 30px;
}