.portfolio {
    padding-top: 100px;
    padding-left: 24px;
}

.container-portfolio {
    margin-bottom: 31px;
    display: flex;
}

.title-item-portfolio {
    background-color: #CECFC8;
    color: #707070;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 31px;
    padding: 36px 11px 7px 11px;
    font-family: 'Raleway';
    align-self: flex-end;
}

.img-portfolio {
    max-width: 100%;
}