.header {
    margin: 0 auto;
    height: 60px;
    padding-top: 24px;
    display: flex;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: #FFF;
}

.header.open-menu {
    background-color: #BCBCBC;
}

.link-home {
    margin-top: 29px;
}

.logo-header {
    width: 66px;
    height: auto;
    margin-left: 24px;
    fill: #000;
    cursor: pointer;
    margin-top: -30px;
}

.header .open-menu {
    display: block;
}
