.btn-back {
    text-decoration: none;
    text-transform: lowercase;
    margin-bottom: 10px;
}

.footer {
    background-color: rgba(136, 133, 117, 0.24);
    width: 100%;
    min-height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer > .menu-container {
    display: flex;
    position: static;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    background-color: transparent;
}

.footer > .menu-container > .menu-item {
    font-size: 11px;
}

.social-media-title,
.email-contact,
.copyright {
    color: #000;
    font-size: 11px;
    font-family: 'Raleway';
    text-align: center;
    text-transform: lowercase;
    font-weight: 400;
}