.item-slider {
    width: 100vw;
    overflow: hidden;
    transform-origin: center center;
    transition: transform 0.5s;
}

.img-slider {
    max-width: 100%;
}

.container-controls {
    margin-top: -30px;
    width: 100%;
    display: flex;
    justify-content: center;
}
